#root {
  text-align: center;
  background: linear-gradient(to bottom, #000044, #000000);
}


#phaser-container {
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
  width: 100vw;
  /* Full viewport width */
  height: 100vh;
  /* Full viewport height */
  overflow: hidden;
  /* Prevent scrollbars */
}

#phaser-container canvas {
  /* This ensures that the game doesn't stretch beyond its intended dimensions. */
  max-width: 100%;
  max-height: 100%;
}